<html>
<head>
<title>Странненький блог</title>
</head>
<body>


            <div>
                <h1><a href="http://interfax.com.ua">Interfax.com.ua</a></h1>
            </div>

            <div>
                <p>published: 10.04.2016, 12:14</p>
                <h2><a href="">Первый пост</a></h2>
                <p>Офигенно важная статичная инфа</p>
            </div>

            <div>
                <p>published: 11.04.2016, 12:14</p>
                <h2><a href="">Второй пост</a></h2>
                <p>Еще более важная фигня</p>
            </div>

Можно я не буду заморачиваться со всяким мусором

  </body>

</html>
